mat-toolbar {
  background-color: #0057B4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.centered-links a, .right-link {
  font-size: 23px;
  color: #ffffff;
}

.right-link {
  margin-left: auto;
}

.logo {
  height: 80px;
  width: auto;
  padding-right: 50px;
}

@media (max-width: 600px) {
  mat-toolbar {
    flex-direction: column;
  }
  .centered-links, .right-link {
    display: none;
  }
}
