/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: #0057B4;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 901px) {
  .container {
    width: 70%;
  }
}
